/*=============== LOCATION ===============*/
.location{
    &__container{
        gap: 2.5rem;
        align-items: center;
        justify-content: space-between
    }
    &__data{
        text-align: center;
    }
}